<a href="https://colab.research.google.com/github/Chiranjeevi141004/Python_Basics/blob/main/Day12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import seaborn as sns

In [6]:
k=[4,2.56789,9,87.9999,40,'hyderabad']
k

[4, 2.56789, 9, 87.9999, 40, 'hyderabad']

In [7]:
pd.Series(k)

0            4
1      2.56789
2            9
3      87.9999
4           40
5    hyderabad
dtype: object

In [40]:
a = np.random.randint(20,50,15)
a

array([49, 46, 28, 29, 46, 20, 27, 37, 46, 42, 43, 27, 33, 34, 47])

In [41]:
a.ndim

1

In [44]:
s = pd.Series(a)
s

0     49
1     46
2     28
3     29
4     46
5     20
6     27
7     37
8     46
9     42
10    43
11    27
12    33
13    34
14    47
dtype: int64

In [45]:
s[4:10]

4    46
5    20
6    27
7    37
8    46
9    42
dtype: int64

In [65]:
np.random.seed(590)
b=np.random.randint(100,200,(6,5))

In [66]:
b.ndim

2

In [67]:
b.shape

(6, 5)

In [68]:
b

array([[155, 196, 143, 137, 105],
       [165, 135, 186, 111, 148],
       [128, 119, 162, 174, 166],
       [172, 177, 152, 120, 103],
       [196, 164, 182, 124, 161],
       [184, 148, 106, 135, 122]])

In [72]:
df = pd.DataFrame(b,columns=['c1','c2','c3','c4','c5'],index=['r1','r2','r3','r4','r5','r6'])
df

     c1   c2   c3   c4   c5
r1  155  196  143  137  105
r2  165  135  186  111  148
r3  128  119  162  174  166
r4  172  177  152  120  103
r5  196  164  182  124  161
r6  184  148  106  135  122

In [76]:
df.iloc[0]

c1    155
c2    196
c3    143
c4    137
c5    105
Name: r1, dtype: int64

In [80]:
df.loc['r1']

c1    155
c2    196
c3    143
c4    137
c5    105
Name: r1, dtype: int64

In [85]:
df.loc['r1',['c1','c2','c3']]

c1    155
c2    196
c3    143
Name: r1, dtype: int64

In [84]:
df.iloc[0,0:3]

c1    155
c2    196
c3    143
Name: r1, dtype: int64

In [86]:
df.iloc[0,[0,1,2]]

c1    155
c2    196
c3    143
Name: r1, dtype: int64

In [87]:
df.iloc[[1,3,4]]

     c1   c2   c3   c4   c5
r2  165  135  186  111  148
r4  172  177  152  120  103
r5  196  164  182  124  161

In [89]:
df.c3

r1    143
r2    186
r3    162
r4    152
r5    182
r6    106
Name: c3, dtype: int64

In [92]:
df[['c3','c2']]

     c3   c2
r1  143  196
r2  186  135
r3  162  119
r4  152  177
r5  182  164
r6  106  148

In [95]:
d=sns.get_dataset_names()

In [97]:
d

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']