<a href="https://colab.research.google.com/github/Chiranjeevi141004/Python_Basics/blob/main/Day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
y = "MallA reddy 2025"

In [ ]:
x = y.lower()
x.count('a')

2

use return to return datatype,
using print will not return datatype

In [7]:
def calArea(a):
  area =3.14*a*a
  return area

In [8]:
calArea(30)

2826.0

In [9]:
def calArea(a):
  area =3.14*a*a
  print(area)

In [10]:
calArea(4)

50.24

In [12]:
def rectArea(a,b):
  area = a*b
  return area

In [13]:
rectArea(3,4)

12

In [28]:
def Area(r,a,b):
  circle_area = 3.14*r*r
  rectangle_area = a*b
  return {"circle area ":circle_area,"rectangle area":rectangle_area}

In [29]:
Area(4,5,6)

{'circle area ': 50.24, 'rectangle area': 30}

In [30]:
t = 'HyderabAAd'

In [39]:
def count_A(t):
  t = t.lower()
  a = t.count('a')
  return a

In [40]:
def count_Aa(t):
  a = t.count('A')
  b = t.count('a')
  return {"A":a,"a":b}

In [41]:
count_A(t)

3

In [42]:
count_Aa(t)

{'A': 2, 'a': 1}

In [43]:
x = "HyderabAAd 500008 Telangana"

In [47]:
def count_num_alpha(x):
  v = 0
  w = 0
  for i in x:
    if i.isalpha():
      v+=1
    else:
      w+=1
  return {"letter":v,"number":w}

In [49]:
def seperate_num_letter(x):
  v = []
  w = []
  for i in x:
    if i.isalpha():
      v.append(i)
    else:
      w.append(i)
  return {"letter":v,"number":w}

In [48]:
count_num_alpha(x)

{'letter': 19, 'number': 8}

In [50]:
seperate_num_letter(x)

{'letter': ['H',
  'y',
  'd',
  'e',
  'r',
  'a',
  'b',
  'A',
  'A',
  'd',
  'T',
  'e',
  'l',
  'a',
  'n',
  'g',
  'a',
  'n',
  'a'],
 'number': [' ', '5', '0', '0', '0', '0', '8', ' ']}